// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
  min-height: 340px;
}
.book-registry-details {
  margin-top: 10*$padding-base-vertical;
  p {
    font-size: $font-size-base;
  }
}
.bottom-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar;
}
.book:hover {
  box-shadow: 0 0 10px 2px rgba(92,184,116,.5);
}
a.book-thumbnail:hover {
  text-decoration: none;
}
// http://www.colourlovers.com/blog/2007/08/07/wine-color-guide-for-quality-and-age
.age-10 {
  background-color: #d8ffaa;
}
.age-00 {
  background-color: #f7f6b6;
}
.age-90 {
  background-color: #c5c87a;
}
.age-80 {
  background-color: #c6c871;
}
.age-70 {
  background-color: #ced134;
}
.age-60 {
  background-color: #9ba43d;
}
.age-50 {
  background-color: #91782b;
}

