// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
  //min-height: 340px;
}
/* http://stackoverflow.com/a/21057727
.book:after {
  content: "";
  background: rgba(88,88,88,.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.book > * {
  z-index: 10;
}
*/
.book span.overlay {
  position: absolute;
  right: $jumbotron-padding / 4;
  top: -$jumbotron-padding / 4;
  font-size: $jumbotron-heading-font-size;
  color: $brand-success;
  opacity: .75;
  &.recycle {
    color: $brand-danger;
  }
}
.stack {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: 
  1px 1px   0 rgba(0,   0,   0,   0.100), 
  3px 3px   0 rgba(255, 255, 255, 1.0), 
  4px 4px   0 rgba(0,   0,   0,   0.125), 
  6px 6px   0 rgba(255, 255, 255, 1.0),  
  7px 7px   0 rgba(0,   0,   0,   0.150), 
  9px 9px   0 rgba(255, 255, 255, 1.0),  
  10px 10px 0 rgba(0,   0,   0,   0.175);
}
.book-registry-details {
  margin-top: 10*$padding-base-vertical;
  p {
    font-size: $font-size-base;
  }
}
.bottom-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar;
}
.book:hover {
  box-shadow: 0 0 10px 2px rgba(92,184,116,.5);
}
a.book-thumbnail:hover, a.book-grid-item:hover {
  text-decoration: none;
}
.book-grid-item .caption {
  color: $text-color;
}
.book-grid-item {
  padding: $padding-base-horizontal;
  border: 1px solid $thumbnail-border;
  border-bottom: 1px solid #999;
  h3 {
    margin-top: 0;
  }
  .no-margin {
    margin-bottom: 0;
  }
}
@media (min-width: $screen-sm-min) {
  .book-grid-item {
    margin-bottom: $grid-gutter-width;
    border-bottom-color: $thumbnail-border;
    min-height: 299px;
  }
}
// http://www.colourlovers.com/blog/2007/08/07/wine-color-guide-for-quality-and-age
.age-10 {
  background-color: #d8ffaa;
}
.age-00 {
  background-color: #f7f6b6;
}
.age-90 {
  background-color: #c5c87a;
}
.age-80 {
  background-color: #c6c871;
}
.age-70 {
  background-color: #ced134;
}
.age-60 {
  background-color: #9ba43d;
}
.age-50 {
  background-color: #91782b;
}

